APP_NAME=ai-service
APP_VERSION=0.1.0
HOST=0.0.0.0
PORT=8000
LLM_API_KEY=your_api_key_here
MODEL_NAME=gpt-4o-mini
MONGO_CONNECTION_STRING=mongodb://admin:mongodb123@localhost:27017
MONGO_DATABASE_NAME=resource_logs
MONGO_DATASET1_COLLECTION=dataset1_logs
MONGO_DATASET2_COLLECTION=dataset2_logs
